@model Product
@{
    ViewData["Title"] = "Create Product";
}
<div class="container mt-5"> 
    <h2>Create New Product</h2> 
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label> 
            <input asp-for="Name" class="form-control" /> 
        </div> 

       <div class="form-group"> 
           <label asp-for="Price"></label> 
           <input asp-for="Price" class="form-control" /> 
       </div> 

       <div class="form-group"> 
           <label asp-for="Stock"></label> 
           <input asp-for="Stock" class="form-control" /> 
       </div>
       <div class="mt-2">

       <button type="submit" class="btn btn-primary">Create</button>
            <a type="button" class="btn btn-secondary" asp-controller="Product" asp-action="Index">Back</a>

       </div>
   </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
